body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  line-height: normal;
  overflow-x: hidden;
}

.container {
  max-width: 1326px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.btn-outline {
  position: relative;
  color: var(--main-color-2);
  font-size: 16px;
  font-weight: 600;
  border: 1px solid var(--main-color-2);
  border-radius: 100px;
  padding: 12px 32px;
  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% + 3px);
    height: calc(100% + 3px);
    background: rgba(255, 255, 255, 0);
    border-radius: 100px;
    transition: .2s all ease-in-out;
  }
  &:hover::before {
    background: rgba(255, 255, 255, .2);
  }
}

.btn-fill {
  position: relative;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 600;
  background: var(--main-color-2);
  border-radius: 100px;
  padding: 12px 32px;
  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% + 3px);
    height: calc(100% + 3px);
    background: rgba(255, 255, 255, 0);
    border-radius: 100px;
    transition: .2s all ease-in-out;
  }
  &:hover::before {
    background: rgba(255, 255, 255, .2);
  }
}